<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">My Links</h1>
            <h3 class="mb-5">
                Simple store best links
            </h3>
            <a href="/links" class="btn btn-primary">
                Go
            </a>
        </div>
    </header>
</main>